<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app transcribes your speech to text for easier note-taking.</string>
	<key>CFBundleIdentifier</key>
	<string>com.LearnAI2</string>
	<key>CFBundleIconName</key>
	<string>AppIcon1</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>&quot;We need access to your microphone to record your voice notes.&quot;</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
